<!--<mat-card class="example-card center-card">-->
  <!--&lt;!&ndash;card-header&ndash;&gt;-->
  <!--<mat-card-header>-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<mat-card-title>Shiba Inu</mat-card-title>-->
    <!--<mat-card-subtitle>Dog Breed , 2018.10.2 16:30:22</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <!--&lt;!&ndash;card-content&ndash;&gt;-->
  <!--<mat-card-content class="clear-padding">-->
    <!--<div id={{matCardContentId}}>-->
        <!--&lt;!&ndash;评论内容&ndash;&gt;-->
        <!--<div class="card-feeds-container" >-->
            <!--&lt;!&ndash;card-left-content&ndash;&gt;-->
            <!--<img class="card-feeds-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <!--&lt;!&ndash;card-right-content&ndash;&gt;-->
            <!--<div class="card-feeds-text">-->
              <!--&lt;!&ndash;card-content-header&ndash;&gt;-->
              <!--<h2 class="card-feeds-text-header" (click)="openQuestionDetailPage()">-->
                <!--The Shiba Inu is the smallest of-->
              <!--</h2>-->
              <!--&lt;!&ndash;card-content-content&ndash;&gt;-->
              <!--<div class="card-feeds-text-content">-->
               <!--{{testText}}<a *ngIf="aState == true" (click)="openContent()">{{aText}}</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;card-button&ndash;&gt;-->
        <!--<div style="margin-top: 5px;">-->
          <!--<button mat-button style="color:#0288D1;">-->
            <!--<i class="material-icons" style="color:#b3e5fc;margin-top: 0rem; margin-right:0.5rem;font-size:1rem;">thumb_up</i>-->
              <!--Upvote | 210-->
           <!--</button>-->
          <!--<button mat-button style="color:#757575;">关注问题</button>-->
          <!--<button mat-button disabled>2条评论</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;显示完整内容&ndash;&gt;-->
    <!--<div id={{content}}>-->
    <!--</div>-->
    <!--&lt;!&ndash;关闭完整内容的按钮&ndash;&gt;-->
    <!--<button *ngIf="contentState == true" mat-raised-button color="warn" style="width: 100%;" (click)="closeContent();">收起内容</button>-->
    <!--<br>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->
