

<br>





<!--expansion panel-->
<mat-accordion>
  <mat-expansion-panel (opened)="openExpansionPanel()"
                       (closed)="closeExpansionPanel()">
    <mat-expansion-panel-header>
      <mat-panel-title>
      </mat-panel-title>
      <mat-panel-description class="expansion-panel-description">
        More
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- 用于存放 editormd 的容器,这里用 editor 解析 markdown 文本-->
    <div id={{content}}>
    </div>
    <br>
     <!-- 评论区域 -->
    <!-- <div class="row">
      <textarea type="text" class="col-12"></textarea>
    </div>
    <div class="example-container">
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Primary</button>
    </div> -->
  </mat-expansion-panel>
</mat-accordion>
