.feeds-container {
  padding: 16px;
}
.example-card {
  max-width: 43.5rem;
  padding: 0.5rem !important;
  margin-bottom: 1rem;
  /* margin-right: auto;
  margin-left: auto; */
}

.card-feeds-container {
  display: flex;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-feeds-img {
  width: 14rem;
  height: 8rem;
}

.card-feeds-text {
  padding-left: 20px;
  flex: 1 1 auto;
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-feeds-text-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-feeds-text-content {
  height: 6.5rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  position:relative;
  overflow:hidden;
}

.card-feeds-text-content::after {
  content:"...";
  font-weight:bold;
  position:absolute;
  bottom:0;
  right:0;
  padding:0 20px 1px 45px;
  background:url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y;
}

.clear-padding {
  margin: 0 !important;
}

.expansion-panel-description {
  display:block; text-align: right;
}

.example-container {
  display: flex;
  flex-direction: row;
}

.example-container > * {
  width: 100%;
}

/*three part*/

:host /deep/ .mat-card {
  padding: 16px;
}

:host /deep/ .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0;
}

:host /deep/ .mat-expansion-indicator::after {
  margin-bottom: 5px;
}

:host /deep/ .mat-expansion-panel-header {
  height: 1rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
