<div style="margin-top: 1rem;">

  <div style="display: flex; flex-direction: row; border: 1px solid #ddd; justify-content: center; align-items: center; margin-bottom: 1rem; padding: 0.5rem;">
    <!--头像-->
    <div>
      <img src="http://images.nowcoder.com/head/111t.png" style="width: 3rem; height: 3rem;" mat-card-avatar>
    </div>
    <!--个人信息-->
    <div style="flex: 1 1 auto; flex-direction: column; margin-left: 1rem;">
      <h4 style="font-size: 1.2rem;">张玉玮1</h4>
      <div style="font-size: 0.8rem;"><a>1粉丝/</a><a>10关注/</a><a>8回答/</a><a>78点赞</a></div>
    </div>
    <!--操作按钮-->
    <div>
      <button mat-raised-button color="warn">取消关注</button>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; border: 1px solid #ddd; justify-content: center; align-items: center; margin-bottom: 1rem; padding: 0.5rem;">
    <!--头像-->
    <div>
      <img src="http://images.nowcoder.com/head/447t.png" style="width: 3rem; height: 3rem;" mat-card-avatar>
    </div>
    <!--个人信息-->
    <div style="flex: 1 1 auto; flex-direction: column; margin-left: 1rem;">
      <h4 style="font-size: 1.2rem;">张玉玮</h4>
      <div style="font-size: 0.8rem;"><a>1粉丝/</a><a>0关注/</a><a>0回答/</a><a>78点赞</a></div>
    </div>
    <!--操作按钮-->
    <div>
      <button mat-raised-button color="warn">取消关注</button>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; border: 1px solid #ddd; justify-content: center; align-items: center; margin-bottom: 1rem; padding: 0.5rem;">
    <!--头像-->
    <div>
      <img src="http://images.nowcoder.com/head/447t.png" style="width: 3rem; height: 3rem;" mat-card-avatar>
    </div>
    <!--个人信息-->
    <div style="flex: 1 1 auto; flex-direction: column; margin-left: 1rem;">
      <h4 style="font-size: 1.2rem;">张玉玮221</h4>
      <div style="font-size: 0.8rem;"><a>1粉丝/</a><a>0关注/</a><a>0回答/</a><a>78点赞</a></div>
    </div>
    <!--操作按钮-->
    <div>
      <button mat-raised-button color="warn">取消关注</button>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; border: 1px solid #ddd; justify-content: center; align-items: center; margin-bottom: 1rem; padding: 0.5rem;">
    <!--头像-->
    <div>
      <img src="http://images.nowcoder.com/head/447t.png" style="width: 3rem; height: 3rem;" mat-card-avatar>
    </div>
    <!--个人信息-->
    <div style="flex: 1 1 auto; flex-direction: column; margin-left: 1rem;">
      <h4 style="font-size: 1.2rem;">张玉玮14</h4>
      <div style="font-size: 0.8rem;"><a>1粉丝/</a><a>0关注/</a><a>0回答/</a><a>78点赞</a></div>
    </div>
    <!--操作按钮-->
    <div>
      <button mat-raised-button color="warn">取消关注</button>
    </div>
  </div>


</div>
