<div class="Instructions">
  <div id = "fix1" >
    <mat-card >
    <div class="button-row">
      <button mat-button (click)="openAskQuestionDialog()"> 提问</button>
      <button mat-button (click)="openMyFocusProblem()"> 我关注的问题</button>
      <button mat-button (click)="openMyFollowPerson()"> 我关注的人</button>
      <button mat-button (click)="openFollowMyPerson()"> 粉丝列表</button>
      <button mat-button (click)="openSendMessageDialog()"> 发送私信</button>
      <button mat-button (click)="openPushQuestion()"> 我发布的问题 </button>
      <button mat-button (click)="openMyStationLetter()"> 我的站内信</button>
    </div>
    </mat-card>
  </div>
</div>
