<div class="row"
     [ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">

  <div class="col-10 row" style="margin: 0 auto">
    <div class="col-3" style="padding: 0; display: flex; flex-direction: row-reverse;" *ngIf="incoming">
      <img class="example-header-image" src="{{message.author.headUrl}}">
    </div>

    <div class="col-9" style="border: 1px solid #000000; "
         [ngClass]="{'msg-sent': !incoming, 'msg-receive': incoming}">
      <p style="word-wrap:break-word; ">{{message.text}}</p>
      <p class="time">{{message.sentAt | fromNow}}</p>
    </div>

    <div class="col-3" style="padding: 0;" *ngIf="!incoming">
      <img class="example-header-image" src="{{message.author.headUrl}}">
    </div>
  </div>

</div>

