<div style="font-size: 1rem; display: flex; flex-direction: row; width: 64.5rem; margin: 0 auto; margin-top: 3rem;">
            <i class="material-icons" style="margin-top: 0.5rem;">assignment</i>
            <div style="margin-top: 0.5rem;">已关注的话题</div>
</div>
<div style="width: 64.5rem; margin: 0 auto; margin-top: 1rem;">
  <mat-divider></mat-divider>
  <mat-chip-list style="margin: 1rem;">
    <mat-chip>代码</mat-chip>
    <mat-chip>ios</mat-chip>
    <mat-chip>Java</mat-chip>
    <mat-chip>C++</mat-chip>
    <mat-chip>Android</mat-chip>
    <mat-chip>English</mat-chip>
    <mat-chip>Japanese</mat-chip>
  </mat-chip-list>
  <mat-divider></mat-divider>
</div>
<div class="index-container">
  <span class="fill-remaining-space"></span>
    <div>
      <app-topic-feeds></app-topic-feeds>
    </div>
    <div>
      <app-connection></app-connection>
    </div>
  <span class="fill-remaining-space"></span>
</div>
