<!-- 点击开启编辑框 -->
<div style="margin-top: 2rem;">
<button (click)="openEditor()">sdsad</button>
</div>
<div class="editor" id="1zhang"></div>
<div>
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
</div>
<div>
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
fsfdddddddddddddddddd
sdddddddddddddddddd
dsffffffffffffffffffffffff
dsffffffffffffffffffffffffff
sdfffffffffffffffffffffffffffffff
sdffffffffffffffffffffffffffff
sdffffffffffffffffffff
</div>
