.hot-question-container {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 20rem;
}

.text-style {
    -o-text-overflow: ellipsis;/*兼容opera*/
	text-overflow: ellipsis;/*这就是省略号喽*/		  
	overflow: hidden;/*设置超过的隐藏*/
	white-space: nowrap;/*设置不折行*/
	width:18rem;/*设置宽度*/
}