<mat-card class="hot-question-container">
    <mat-list role="list">
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
        <mat-list-item role="listitem"><p class="text-style">The Shiba Inu is the smallest of The Shiba Inu is the smallest of</p></mat-list-item>
      </mat-list>
</mat-card>