<mat-card class="hot-question-container">
    <mat-list role="list">
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
        <mat-list-item role="listitem">The Shiba Inu is the smallest of</mat-list-item>
      </mat-list>
</mat-card>