<div style="margin-top: 1rem; display: flex; flex-direction:column; justify-content: center; align-items: center; margin-top: 4rem;">
  <mat-card>
    <!--card-header-->
    <mat-card-header>
      <img mat-card-avatar src="{{headUrl}}">
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>Recent login , 2018.10.2 16:30:22</mat-card-subtitle>
    </mat-card-header>
    <!--card-content-->
    <mat-card-content>
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div>
          <span>粉丝：</span><button mat-button><b>{{followerUserCount}}人</b></button>
        </div>
        <div>
          <span>关注：</span><button mat-button><b>{{followeeUserCount}}人</b></button>
        </div>
        <div>
          <span>回答：</span><button mat-button><b>{{commentCount}}个</b></button>
        </div>
        <div>
          <span>关注问题：</span><button mat-button><b>{{followeeQuestionCount}}个</b></button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!--个人TIMELINE-->
  <app-pages-feed *ngFor="let feed of indexDatas" [feed] = "feed" [CURRENT_FEED_TYPE]="MY_QUESTION" [isNeedHeader]="false"></app-pages-feed>
</div>
