<div class="user-index-container">
  <mat-card class="user-index-header">
    <!--card-header-->
    <mat-card-header>
      <img mat-card-avatar src="{{headUrl}}">
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>Recent login , 2018.10.2 16:30:22</mat-card-subtitle>
      <div style="flex: 1 1 auto;"></div>
      <button mat-button *ngIf="MY_QUESTION === 'NORMAL_FEED' && IS_FOLLOW == false" (click)="followUser()"><b>关注</b></button>
      <button mat-button *ngIf="MY_QUESTION === 'NORMAL_FEED' && IS_FOLLOW == true" (click)="cancelFollowUser()"><b>取消关注</b></button>
    </mat-card-header>
    <!--card-content-->
    <mat-card-content>
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div>
          <span>粉丝：</span><button mat-button><b>{{followerUserCount}}人</b></button>
        </div>
        <div>
          <span>关注：</span><button mat-button><b>{{followeeUserCount}}人</b></button>
        </div>
        <div>
          <span>回答：</span><button mat-button><b>{{commentCount}}个</b></button>
        </div>
        <div>
          <span>关注问题：</span><button mat-button><b>{{followeeQuestionCount}}个</b></button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<!--个人TIMELINE-->
<app-pages-feed *ngFor="let feed of indexDatas" [feed] = "feed" [CURRENT_FEED_TYPE]="MY_QUESTION" [isNeedHeader]="false">
</app-pages-feed>
