
<div *ngFor="let comment of commentListInComment" style="display: flex; flex-direction: column; padding: 1rem;">
  <div style="display: flex; flex-direction: row; cursor: pointer;" (click)="openProfile(comment)">
    <!--header image-->
    <img mat-card-avatar class="comment-header-image" src="{{comment.user.headUrl}}">
    <!--header comment-->
    <p style="display:flex; align-items:center; justify-content:center;margin-left: 1rem;" >
     {{comment.user.name}}
    </p>
  </div>

  <div style="padding: 1rem;" #content>
    {{comment.comment.content}}
  </div>

  <div style="display: flex; flex-direction: row-reverse;" *ngIf="comment.sonCommentIsUser == true">
    <button mat-button style="margin-left: 0.5rem;" (click)="deleteCommentOfAnswer(comment)">删除</button>
    <button mat-button (click)="updateCommentOfAnswer(comment)">修改</button>
  </div>

</div>
