<div class="feeds-container">
  <span class="fill-remaining-space"></span>
  <div>
      <app-index-profile></app-index-profile>
      <app-pages-feeds *ngFor="let feed of feeds" [content] = "feed"></app-pages-feeds>
  </div>
  <div>
      <app-hot-question></app-hot-question>
      <div class="hot-question-container">
        <div id = "fix1" >
            <mat-card >
                zhangyuweuasda
            </mat-card>
        </div>
     </div>
  </div>
  <span class="fill-remaining-space"></span>
</div>
