<div class="index-container">
    <span class="fill-remaining-space"></span>
    <div class="index-left">
        <app-index-profile class="app-index-profile"></app-index-profile>
        <app-pages-index-feeds class="app-pages-index-profile"></app-pages-index-feeds>
    </div>
    <div class="index-right">
        <app-hot-question class="app-hot-question"></app-hot-question>
        <app-connection class="app-connection"></app-connection>
    </div>
    <span class="fill-remaining-space"></span>
</div>
