<!-- 点击开启编辑框 -->
<script src="person.component.ts"></script>
<div style="margin-top: 3rem;">
  <mat-tab-group style="width:  64.5rem; margin: 0 auto;"  [selectedIndex]="activeIndexPage" >

    <!--<mat-tab label="个人档案">-->
      <!--<app-profile></app-profile>-->
    <!--</mat-tab>-->

    <mat-tab label="关注的问题">
      <app-follow-question></app-follow-question>
    </mat-tab>

     <!--<mat-tab label="发布的问题">
       <app-push-question></app-push-question>
     </mat-tab>-->

    <mat-tab label="我评论的问题">
      <app-my-comment-questions></app-my-comment-questions>
    </mat-tab>

    <mat-tab label="站内信">
      <app-chat></app-chat>
    </mat-tab>

    <mat-tab label="关注的人">
      <app-follow></app-follow>
    </mat-tab>

    <mat-tab label="粉丝">
      <app-fans></app-fans>
    </mat-tab>

  </mat-tab-group>
</div>
