<mat-card class="example-card center-card">
  <!--card-header-->
  <mat-card-header>
    <img mat-card-avatar class="comment-header-image" src="{{comment.user.headUrl}}">
    <mat-card-title>{{comment.user.name}}</mat-card-title>
    <mat-card-subtitle>{{comment.user.description}}, 2018.10.2 16:30:22</mat-card-subtitle>
  </mat-card-header>

  <!--card-content-->
  <mat-card-content class="clear-padding">
    <div>
      <!--expansion panel-->
      <div id="{{SHORT_COMMENT_CONTENT_ID}}" style="font-size: 1rem;">
        {{comment.comment.commentParent.content}}
      </div>
      <div id="{{DETAIL_COMMENT_CONTENT_ID}}" style="font-size: 1rem;"></div>
      <!--card-button-->
      <div style="margin-top: 5px;">
        <button mat-button (click)="likeComment()" [ngClass]="{'primary-color': isLiked === 1, 'accent-color': isLiked === 0 || isLiked === -1 }">
          <i class="material-icons" style="margin-top: 0; margin-right:0.5rem;font-size:1rem;">thumb_up</i>
          Upvote | {{likeCount}}
        </button>
        <button mat-button (click)="dislikeComment()" [ngClass]="{'primary-color': isLiked === -1, 'accent-color': isLiked === 0 || isLiked === 1 }">
          <i class="material-icons" style="margin-top: 0; margin-right:0.5rem;font-size:1rem;">thumb_down</i>
          Downvote | {{dislikeCount}}
        </button>
        <button mat-button (click)="openCommentComments()">{{commentsCountName}}</button>
      </div>
      <!--评论列表页-->
      <div>
        <!--评论列表-->
        <div style="border: 1px solid #ebebeb; box-shadow: 0 1px 3px rgba(26,26,26,.1);" #commentCommentsList>
          <app-comment-comments [commentListInComment]="comment.comment.commentSon"></app-comment-comments>
          <!--翻页控制-->
          <mat-paginator [length]="sonCommentCount"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
        <!--评论-->
        <div>
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="写下你的评论"></textarea>
          </mat-form-field>
          <div style="display: flex; flex-direction: row-reverse;">
            <button mat-raised-button color="primary" (click)="submitSonComment()">评论</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
