<mat-card class="feed-card center-card">
  <!--关注用户评论了问题-->
  <div *ngIf="CURRENT_FEED_TYPE == USER_COMMENT_QUESTION_SEND_MESSAGE_TO_ATTENTION_USER">
    <p>你关注的用户<b>{{feed.data.userName}}</b>于{{feed.createdDate | fromNow}}评论了<b>{{feed.data.questionTitle}}</b>问题，<a>请点此查看</a></p>
  </div>
  <!--有人关注你-->
  <div *ngIf="CURRENT_FEED_TYPE == FOLLOW_USER">
    <p>你关注的用户<b>{{feed.data.userName}}</b>于{{feed.createdDate | fromNow}}关注了你，<a>请点此查看</a></p>
  </div>
  <!--有人喜欢你的评论-->
  <div *ngIf="CURRENT_FEED_TYPE == LIKE_COMMENT">
    <p>用户<b>{{feed.data.userName}}</b>于{{feed.createdDate | fromNow}}为你评论的问题 <b>{{feed.data.questionTitle}}</b> 点赞，<a>请点此查看</a></p>
  </div>
  <!--关注的问题有人评论-->
  <div *ngIf="CURRENT_FEED_TYPE == USER_COMMENT_QUESTION_SEND_MESSAGE_TO_FANS">
    <p>你关注的问题<b>{{feed.data.questionTitle}}</b>于{{feed.createdDate | fromNow}}有新的评论，<a>请点此查看</a></p>
  </div>
  // TO DO 未加入的模版
  <!--&lt;!&ndash;发布的提问有人回答&ndash;&gt;-->
  <!--<p>用户XXX回答了你的提问</p>-->
  <!--&lt;!&ndash;关注的问题有人评论&ndash;&gt;-->
  <!--<p>你关注的问题XXX有了新评论XXX</p>-->
  <!--&lt;!&ndash;你自己发表了新问题&ndash;&gt;-->
  <!--<p>你于xxx时间，发表了新问题</p>-->
  <!--&lt;!&ndash;你自己回答了新问题&ndash;&gt;-->
  <!--<p>你于xxx时间，回答了新问题</p>-->
  <!--&lt;!&ndash;关注用户发表了问题&ndash;&gt;-->
  <!--<div >-->
    <!--<p>你关注的用户XXX发表了XXX问题，请去<a>xxxxx</a>查看</p>-->
  <!--</div>-->
</mat-card>
