.navigation {
  -moz-box-shadow: 0 5px 5px #888888; /* 老的 Firefox */
  box-shadow: 0 5px 5px #888888;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
  align-items:center;
  justify-content:center;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.center-card {
  margin: auto;
}

:host /deep/ .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
  color: white;
}


:host /deep/ .mat-form-field-underline {
  background-color: red;
}

.dummy-input-field .mat-input-placeholder {
  color: white;
}

.example-container > * {
  display: block;
  max-width: 80%;
}

:host /deep/ .mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
}

.center{
  margin:0 auto;
}
