<!--navigation-->
<mat-toolbar color="primary" class="navigation">
  <!-- navigation-container -->
  <div class="navigation-container">
    <!-- navigation-left -->
    <div class="navigation-left">
      <i class="material-icons" style="color: white;font-size:2rem; margin-top: 1rem; padding-right:1rem;">event_seat</i>
      <a routerLink="index"><button mat-button>首页</button></a>
      <a routerLink="discover"><button mat-button>发现</button></a>
      <button mat-button>话题</button>
      <span class="example-fill-remaining-space"></span>
      <!--search input-->
      <mat-form-field floatPlaceholder="never">
        <input matInput [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-placeholder class="placeholder" style="color: white; font-size: 14px;">搜索....</mat-placeholder>
        <mat-icon matSuffix style="font-size: smaller;">search</mat-icon>
        <!-- drop-down -->
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
            <span>{{ state.name }}</span> |
            <small>Population: {{state.population}}</small>
            <mat-divider></mat-divider>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- navigation-right -->
    <div class="navigation-right">
      <!-- <i class="material-icons" style="color: white;font-size:2rem; margin-top: 1rem; padding-left:1rem;">face</i> -->
      <!--个人中心-->
      <div mat-card-avatar class="example-header-image" style="margin-top: 1rem; margin-left:1rem;"></div>
      <!--站内信-->
      <button mat-button>
        <i class="material-icons">message</i>
      </button>
      <!--关注列表-->
      <button mat-button>
        <i class="material-icons">person_pin</i>
      </button>
    </div>
  </div>
</mat-toolbar>
