<!--navigation-->
<mat-toolbar color="primary" class="navigation" id="navigationView" *ngIf="SMALL_SCREEN_NAVIGATION === true || IS_SMALL_SCREEN === false">
  <!-- navigation-container -->
  <div class="navigation-container">

    <!-- navigation-left -->
    <div class="navigation-left">
      <i class="material-icons header-icno" (click)="closeNavigation()">highlight</i>
      <button mat-button routerLink="index" class="navigation-button">首页</button>
      <button mat-button routerLink="discover" class="navigation-button">新鲜事</button>
      <button mat-button routerLink="topic" class="navigation-button">话题</button>
      <span class="example-fill-remaining-space"></span>
      <!--search input-->
      <mat-form-field floatPlaceholder="never" class="search">
        <input matInput [matAutocomplete]="auto" [formControl]="stateCtrl"  (keydown)="handleSearchEvent($event)">
        <mat-placeholder class="placeholder" style="color: white; font-size: 14px;">搜索....</mat-placeholder>
        <mat-icon matSuffix style="font-size: smaller;">search</mat-icon>
        <!-- drop-down -->
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let data of searchValue | async" [value]="data.question.title">
            <span>{{ data.question.title }}</span>
            <mat-divider></mat-divider>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- navigation-right -->
    <div *ngIf="IS_LOGIN == true" class="navigation-right">
      <!-- <i class="material-icons" style="color: white;font-size:2rem; margin-top: 1rem; padding-left:1rem;">face</i> -->
      <!--个人中心-->
      <!--<div mat-card-avatar class="example-header-image" style="margin-top: 1rem; margin-left:1rem;">-->

          <!--<button mat-button [matMenuTriggerFor]="menu" style="height: 2rem;width: 2rem;"></button>-->
          <!--<mat-menu #menu="matMenu">-->
            <!--<button mat-menu-item (click)="openChangePasswordDialog()">修改密码</button>-->
            <!--<button mat-menu-item (click)="logout()">注销</button>-->
          <!--</mat-menu>-->
      <!--</div>-->
      <button mat-button [matMenuTriggerFor]="menu">
        <img mat-card-avatar class="navigation-img" src="{{headUrl}}">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openChangePasswordDialog()">修改密码</button>
        <button mat-menu-item (click)="openMyProfile()">个人信息</button>
        <button mat-menu-item (click)="logout()">注销</button>
      </mat-menu>
      <!--发送站内信-->
      <button mat-button (click)="openSendMessage()">
        <i class="material-icons">message</i>
      </button>
      <!--关注列表-->
      <button mat-button routerLink="person" >
        <i class="material-icons">person_pin</i>
      </button>
    </div>

    <!-- navigation-right -->
    <div *ngIf="IS_LOGIN == false" class="navigation-right">
      <!--登陆-->
      <button mat-button (click)="openLoginPage()" class="navigation-button">
        登录
      </button>
      <!--注册-->
      <button mat-button (click)="openRegisterPage()" class="navigation-button" >
        注册
      </button>
    </div>
  </div>
</mat-toolbar>

<!-- 小屏幕用于切换 -->
<mat-toolbar color="primary" class="navigation"  *ngIf="IS_SMALL_SCREEN == true && SMALL_SCREEN_NAVIGATION == false">
<i class="material-icons header-icno" (click)="openNavigation()">highlight</i>
</mat-toolbar>
