<mat-card class="index-profile" *ngIf="IS_DISPLAY == true">
    <!--card-header-->
    <mat-card-header>
      <img mat-card-avatar src="{{headUrl}}">
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>Recent login , 2018.10.2 16:30:22</mat-card-subtitle>
    </mat-card-header>
    <!--card-content-->
    <mat-card-content>
      <button mat-button style="font-size:1.5rem;color:#757575;" (click)="openAskQuestionDialog()">今天遇到了什么困惑，提个问题吧？</button>
    </mat-card-content>
</mat-card>
